html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: InaiMathi;
  src: url(./assets/fonts/inaimathi-bold.ttf);
  font-weight: 700;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.desktop-only {
  display: none;
}

.btn {
  height: 48px;
  color: white;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  border: none;
  font-weight: 700;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: #f55800;
  border: 1px solid #f55800;
  background-color: #fff5e1;
}

.btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.nav-name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.white-text {
  color: white;
}

.nav-bar {
  height: 48px;
  background-color: #3c3a39;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.headline-section {
  background-color: #1c1a19;
  background-image: url(./assets/images/background.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.headline-primary-text {
  color: #ff6b00;
  font-size: 48px;
  font-weight: 400;
  font-family: 'Crete Round', serif;
  margin-bottom: 12px;
}

.headline-supporting-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}

.headline-description {
  line-height: 24px;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
}

.headline-social-icons {
  display: flex;
  padding: 0;
}

.headline-social-icons > * {
  width: 40px;
  height: 40px;
  text-align: center;
  list-style: none;
}

.recent-works-section {
  margin: 120px 24px 0 24px;
}

.recent-works-heading {
  font-family: 'Crete Round', sans-serif;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}

.recent-works-hr {
  margin: 24px 24px 80px 24px;
  color: #212121;
}

.recent-works-featured-img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.recent-works-featured-img:hover {
  scale: 1.02;
}

.recent-works-featured-heading {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32;
}

.recent-works-featured-description {
  font-family: 'Inter', sans-serif;
  line-height: 24px;
}

.recent-works-featured-tags {
  display: flex;
}

.recent-works-featured-tag {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  margin: 12px 12px 12px 0;
}

.recent-works-featured-btn {
  width: 124px;
  margin-bottom: 24px;
}

.recent-works-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: clamp(338px, 338px, 1000vh);
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('./assets/images/projectImages/projectBackgroundImg.svg');
  background-size: cover;
  margin-bottom: 24px;
}

.recent-works-card:last-child {
  margin-bottom: 120px;
}

.recent-works-card > *:not(.recent-works-card-btn) {
  padding: 0 12px;
}

.recent-works-card-btn {
  margin-top: 22px;
  width: 100%;
}

.recent-works-card-heading {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 12px;
}

.recent-works-card-description {
  font-family: 'Inter', sans-serif;
  line-height: 24px;
}

.recent-works-card-tags {
  display: flex;
  margin-top: 12px;
  list-style-type: none;
}

.recent-works-card-tag {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 12px;
  background-color: #ffffff3d;
  margin-right: 12px;
}

.about {
  padding: 120px 24px 0 24px;
  background-color: #1c1a19;
  min-height: 100vh;
}

.about-about {
  margin-right: -24px;
  background-image: url('./assets/images/aboutBackground.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
}

.about-heading {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: 0.37px;
  margin-bottom: 24px;
  margin-right: 24px;
}

.about-description {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  margin-bottom: 24px;
  margin-right: 24px;
}

.about-btn {
  width: 161px;
}

.about-hr {
  margin: 209px 24px 0 24px;
}

.about-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 24px;
  margin-bottom: 0;
}

.about-skills-list-item {
  padding: 0;
  text-align: center;
  min-width: 200px;
  list-style-type: none;
}

.about-skills-list-item-skill {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 42px;
  list-style: none;
  margin-bottom: 22px;
}

.about-skills-list-item-heading {
  font-family: 'InaiMathi', sans-serif;
  font-size: 32px;
  margin: 32px 0;
}

.about-skills-list-item-heading::before {
  color: #ff6b00;
  font-size: 24px;
  padding-right: 10px;
}

.language::before {
  content: '\25C6 ';
}

.frameworks::before {
  content: '\25A0 ';
}

.skills::before {
  content: '\25CF ';
}

.last-skill {
  padding-bottom: 120px;
}

.contact-form-section-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 120px 24px 0 24px;
  text-align: center;
}

.contact-form-section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-section-list {
  width: 100%;
  padding: 0 24px;
}

.contact-form-section-list-item {
  list-style-type: none;
  margin-top: 24px;
  text-align: center;
}

input {
  border-bottom: 1px solid #dbd8d7 !important;
}

input,
textarea {
  width: 100%;
  outline: 0;
  border: none;
  font-family: 'Inter', sans-serif;
  padding: 16px;
}

textarea {
  background-color: #e5e5e5;
  min-height: 114px;
}

.contact-form-section-form-btn {
  width: 131px;
}

.footer-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-hr {
  margin-top: 124px;
}

.footer-social-icon {
  margin: 0 11px;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .nav-bar {
    height: 72px;
    justify-content: space-around;
  }

  .nav-name {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .nav-right-list {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  .nav-right-list-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .nav-right-list-item {
    padding: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
  }

  .headline-section {
    background-image: url(./assets/images/dekstopBackground.svg);
    background-size: contain;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 36px;
  }

  .headline-section-text {
    max-width: 566px;
  }

  .headline-primary-text {
    font-size: 72px;
  }

  .headline-supporting-text {
    font-size: 32px;
  }

  .headline-description {
    font-size: 20px;
  }

  .headline-social-icons {
    flex-direction: column;
    order: -1;
    margin-right: 86px;
  }

  .headline-social-icons > * {
    transition: all 0.2s ease-in-out;
  }

  .about-about > *:not(hr) {
    max-width: 566px;
  }

  .headline-social-icons > *:hover {
    padding-left: 20px;
    scale: 1.2;
  }

  .recent-works-featured-img {
    min-width: 0;
    flex: 60%;
  }

  .recent-works-featured-text {
    flex: 40%;
    margin-left: 24px;
  }

  .recent-works-heading {
    display: inline;
    font-size: 40px;
  }

  .recent-works-section {
    margin: 135px 140px 0 140px;
  }

  .recent-works-hr {
    float: right;
    width: calc(100% - 370px);
  }

  .recent-works-grid {
    clear: both;
  }

  .recent-work-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 36px 24px;
  }

  .recent-works-card {
    margin: 0;
  }

  .recent-works-card:hover {
    background: url('./assets/images/projectImages/projectBackgroundImg.svg');
  }

  .recent-works-card:last-child {
    margin-bottom: 130px;
  }

  .recent-works-featured {
    display: flex;
    margin-bottom: 24px;
  }

  .recent-works-featured-heading {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .recent-works-featured-description {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .recent-works-featured-tags {
    margin-bottom: 24px;
  }

  .about {
    padding: 130px 142px 0 142px;
  }

  .about-about {
    margin-right: -142px;
    background-image: url(./assets/images/aboutDesktopBackground.svg);
    background-position: right top;
  }

  .recent-works-card:hover > *:not(button) {
    opacity: 0;
  }

  .about-hr {
    margin-bottom: 140px;
    margin-right: 142px;
  }

  .about-skills-list {
    justify-content: space-between;
  }

  .about-skills-list-item {
    text-align: left;
  }

  .contact-form-section {
    margin: 130px;
    display: flex;
    align-items: baseline;
  }

  .contact-form-section-heading {
    font-size: 40px;
    text-align: left;
    margin: 0 40px 0 0;
    max-width: 420px;
  }

  .contact-form-section-form {
    width: 100%;
  }

  .contact-form-section-list {
    margin: 0;
  }

  .contact-form-section-list-item {
    text-align: left;
  }

  .footer-hr {
    margin-top: 154px;
  }
}

@media (min-width: 1024px) {
  .recent-work-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
